* {
    margin: 0;
    padding: 0;
}

header {
    
    background-color: brown;
    width:100%;
}


footer {
    position: fixed;
    bottom: 0px;
    background-color: grey;
    width:100%;    
    
}

